@model IEnumerable<ProyectoP5.Models.foroConsulata>

@{
    ViewBag.Title = "Index";
}

<h2>Foro</h2>

<p>
    @Html.ActionLink("Crear Consulta", "crearConsulta")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("nombreRemitente", "Nombre del Remitente ");
        </th>
        <th>
            @Html.Label("tituloConsulta", "Titulo de la Consulta ");
        </th>
        <th>
            @Html.Label("detalleConsulta", "Detalle de la consulta ");
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreRemitente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tituloConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalleConsulta)
        </td>
        <td>
            @Html.ActionLink("Respuestas", "Respuestas", new { id=item.consultaID })             
        </td>
    </tr>
}

</table>
