@model IEnumerable<ProyectoP5.Models.foroConsulata>

@{
    ViewBag.Title = "Index";
    ViewBag.Current = "Foro";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreRemitente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tituloConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalleConsulta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreRemitente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tituloConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalleConsulta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.consultaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.consultaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.consultaID })
        </td>
    </tr>
}

</table>
