@{
    ViewBag.Title = "Solicitud";
}

<h2>Gracias por registrarse en nuestro boletín!</h2>
<hr />


<h5>Estos son los datos ingresados:</h5>

<ul>

    <li>Nombre:&nbsp; @ViewBag.Nombre </li>
    <li>Cédula:&nbsp; @ViewBag.cedula </li>
    <li>Edad:&nbsp; @ViewBag.edad </li>
    <li>Correo:&nbsp; @ViewBag.Correo  </li>
    <li>Profesión:&nbsp; @ViewBag.profecion </li>
    <li>Provincia:&nbsp; @ViewBag.Provincia </li>
    <li>Cantón:&nbsp; @ViewBag.canton </li>
    <li>Distrito:&nbsp; @ViewBag.distrito </li>
</ul>





