@{
    ViewBag.Title = "Solicitud";
}

<h2></h2>
<h3>
    Nombre:&nbsp; @ViewBag.Nombre <br />
    Cedula:&nbsp; @ViewBag.cedula <br />
    Edad:&nbsp; @ViewBag.edad <br />
    Correo:&nbsp; @ViewBag.Correo  <br />
    Profecion:&nbsp; @ViewBag.profecion <br />
    Provincia:&nbsp; @ViewBag.Provincia <br />
    Canton:&nbsp; @ViewBag.canton <br />
    Distrito:&nbsp; @ViewBag.distrito <br />

      
 </h3>


