
@{
    ViewBag.Title = "Formulario";
    ViewBag.Current = "Suscribirse";
}


<div class="row">
    <div class="col-md-12">
        <h1>Suscribirse:</h1>
        <p>Suscribase a nuestro boletín informativo diario, para recibir las últimas noticias sobre la economía costarricense!</p>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("formularioRecibe", "paginas", FormMethod.Post))
        {


            <div class="form-group">
                <h3>
                    @Html.Label("nombre", "Nombre:  ")&nbsp;
                    @Html.TextBox("txtNombre", null, new { @class = "form-control", @required = "true" })
                </h3>
                <h3>
                    @Html.Label("cedula", "Cedula:  ")&nbsp;
                    @Html.TextBox("txtCedula", null, new { @class = "form-control", @type = "number", @required = "true" })
                </h3>
                <h3>
                    @Html.Label("edad", "Edad:  ")&nbsp;
                    @Html.TextBox("txtEdad", null, new { @class = "form-control", @type = "number", @required = "true" })
                </h3>
                <h3>
                    @Html.Label("correo", "Correo:  ")&nbsp;
                    @Html.TextBox("txtCorreo", null, new { @class = "form-control", @type = "email", @required = "true" })
                </h3>

                <h3>
                    @Html.Label("profesion", "Profesión:  ")&nbsp;
                    @Html.TextBox("txtProfesion", null, new { @class = "form-control", @required = "true" })
                </h3>
                <h3>
                    @Html.Label("provincia", "Provincia:  ")&nbsp;
                    @Html.DropDownList("Provincia", new List<SelectListItem> {
                                        new SelectListItem{Text="San Jose",Value="0" },
                                        new SelectListItem{Text="Alajuela",Value="1" },
                                        new SelectListItem{Text="Guanacaste",Value="2" },
                                        new SelectListItem{Text="Puntarenas",Value="3" },
                                        new SelectListItem{Text="Limon",Value="4" },
                                        new SelectListItem{Text="Heredia",Value="5" },
                                        new SelectListItem{Text="Cartago",Value="6" }}, new { @class = "form-control" })
                    @Html.Label("canton", "Cantón:  ") &nbsp;
                    @Html.TextBox("txtCanton", null, new { @class = "form-control", @required = "true" })
                    @Html.Label("distrito", "Distrito:  ") &nbsp;
                    @Html.TextBox("txtDistrito", null, new { @class = "form-control", @required = "true" })
                </h3>

            </div>


            <div class="col-md-12" role="group">
                <input type="submit" value="Guardar" name="Guardar" class="btn btn-primary" />
                <input type="reset" value="Limpiar" name="Limpiar" class="btn btn-danger" />
            </div>
        }
    </div>

    @Html.ActionLink("Enviar Información", "enviarCorreos")



</div>



